<%= form_for @character, :html => {:class => "form-horizontal"} do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => "control-label" %>
    <div class="controls"><%= f.text_field :name %></div>
  </div>

  <div class="field control-group">
    <%= f.label :level, :class => "control-label" %>
    <div class="controls"><%= f.number_field :level %></div>
  </div>

  <div class="field control-group">
    <%= f.label :race, :class => "control-label" %>
    <div class="controls"><%= f.select(:race, Race.all, include_blank:true) %></div>
  </div>

  <div class="field control-group">
    <%= f.label :job, :class => "control-label" %>
    <div class="controls"><%= f.select(:job, Job.all, include_blank:true) %></div>
  </div>

  <div class="field control-group">  
    <%= f.label :init, :class => "control-label" %>
    <div class="controls"><%= f.number_field :init %></div>
  </div>
  <div class="field control-group">
    <%= f.label :ac, :class => "control-label" %>
    <div class="controls"><%= f.text_field :ac %></div>
  </div>
  <div class="field control-group">
    <%= f.label :str, :class => "control-label" %>
    <div class="controls"><%= f.text_field :str %></div>
  </div>
  <div class="field control-group">
    <%= f.label :con, :class => "control-label" %>
    <div class="controls"><%= f.text_field :con %></div>
  </div>
  <div class="field control-group">
    <%= f.label :int, :class => "control-label" %>
    <div class="controls"><%= f.text_field :int %></div>
  </div>
  <div class="control-group">
    <%= f.label :speed, :class => "control-label" %>
    <div class="controls"><%= f.text_field :speed %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
