<p id="notice"><%= notice %></p>

<div class="character name">
  <strong>Name:</strong>
  <%= @character.name %>
</div>

<div class="character subhead">
  <%= @character.race %> <%= @character.job %>
</div>

<div class="character subhead">
  Level <%= @character.level %>
</div>

<table class="attribute">
  <tr>
    <th>Attr</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Init</td>
    <td><%= @character.init %></td>
  </tr>
  <tr>
    <td>AC</td>
    <td><%= @character.ac %></td>
  </tr>  
  <tr>
    <td>SPD</td>
    <td><%= @character.speed %></td>
  </tr> 
</table>
<br>
<p>
	<strong><%= @character.name %>'s Equipment</strong><br>
  <ul>
  <% @character.equips.each do |equip| %>
	 <li><%= equip.name %><br> 
    <% if equip.qty != nil %>Qty: <%= equip.qty %>
    <% else %>Qty: 1<% end %>
    | 
	 <%= equip.desc %></li>
	<% end %>
  </ul>
</p>
<br>
<div class="links hideonprint">
<%= link_to 'Give Equipment', new_equip_path %><br />
<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
</div>
