<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equip.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @equip.desc %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @equip.qty %>
</p>

<p>
  <strong>Character:</strong>
  <%= @equip.character.name %>
</p>

<%= link_to 'Edit', edit_equip_path(@equip) %> |
<%= link_to 'Back', equips_path %> | <%= link_to 'Characters', characters_path %>
