<!DOCTYPE html>
<html>
<head>
  <title>DND Character Sheet Generator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="hero-unit hideonprint">
		<h2>D&D Character Sheet Creator</h2>	
  	</div>
  		

<div class="container-fluid">
	<div class="row">
		<div class="span8">
			<%= yield %>
		</div>
		<div class="span2 hideonprint">
			<b>About This:</b><br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non massa pulvinar, rutrum enim a, laoreet eros. Duis ut cursus purus. Integer ac tincidunt nibh. Aenean pharetra tempus turpis, id commodo tortor hendrerit ut. Quisque mattis tincidunt lacinia. Mauris tempor, dolor at condimentum rhoncus, velit mi auctor massa, at tristique purus libero eget nisl. Etiam nunc nulla, pellentesque ac nisi eget, molestie blandit odio. 
		</div>
	</div>
</div>

<br /><%= link_to 'Index', root_path %> | By Michele. 
</body>
</html>
