<!DOCTYPE html>
<html>
<head>
  <title>DND Character Sheet Generator</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="hero-unit hidden-print">
		<h2>D&D Character Sheet Creator</h2>	
  	</div>
  		

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span10">
			<%= yield %>
		</div>
		<div class="span2 hidden-print">
			<b>About This:</b><br>
			This is my first Rails project going mostly on my own. Set out to take user input about their D&D Character, including moves and equips, and creating a character sheet that prints nicely. <br><br>
			<b>To Do:</b><br>
			<ul>
				<li>Create "Moves" object</li>
				<li>Change values of certain variables based on user input. (ie, user enters hp #, I want to set the hp & bloodied hp (hp/2))</li>
				<li>Change color scheme</li>
			</ul>
			
		</div>
	</div>
</div>

<br /><%= link_to 'Index', root_path %> | By Michele. 
</body>
</html>
